{% extends 'base.html' %}

{% block content %}

  <h2>상세 내용</h2>
  <h3>{{ review.pk }}번째 글</h3>
  <hr>
  <p>글 번호 : {{ review.pk }}</p>
  <p>영화 제목 : {{ review.movie_title }}</p>
  <p>글 제목 : {{ review.title }}</p>
  <p>글 내용 : {{ review.content }}</p>
  <hr>

  <a href="{% url 'community:update' review.pk %}">[UPDATE]</a>
  <form action="{% url 'community:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>

  <a href="{% url 'community:index' %}">[back]</a>
{% endblock content %}