<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.show.mapper.UserMapper"> 

  <select id="getUserData" parameterType="String" resultType="com.example.show.dto.UserDto">
    select user_no as user_no
    , name as name
    from show.t_user
    where user_no=#{user_no}
  </select>

</mapper>