<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.UseDataMapper">

    <select id="getUseData" parameterType="String" resultType="com.example.mybatis.dto.UseDataDto">
        SELECT COUNT(*) AS usage_count,
        SUM(use_time) AS usage_minute,
        SUM(use_distance) AS usage_meter,
        round(SUM(use_distance)/1000*0.232, 1) AS carbon_reduction
        FROM sample_svc.t_svc_use
        WHERE 1=1
        AND user_no=#{user_no}
        AND DATE(use_start_dt)>=#{start_dt}
    </select>

    <select id="getUseList" parameterType="String" resultType="com.example.mybatis.dto.UseListDto">
        SELECT a.use_no as use_no,
        a.use_distance as use_distance,
        a.use_time as use_time,
        date_format(a.use_start_dt, '%Y-%m-%d %H:%i:%S') as use_start_dt,  <!-- 24시간 -->
        date_format(a.use_end_dt, '%Y-%m-%d %I:%i:%S') as use_end_dt,  <!-- 12시간 -->
        p.pay_datetime as pay_datetime,
        case p.paymethod_code when 'C' then p.pay_cost else 0 end as card_pay,
        case p.paymethod_code when 'P' then p.pay_cost else 0 end as point_pay
        from sample_svc.t_svc_use a
        join sample_svc.t_svc_use_pay p
        on a.use_no = p.use_no
        where 1=1
        and user_no=#{user_no}
        and DATE(use_start_dt) >= #{start_dt}
    </select>

    <select id="getUseList2" parameterType="String" resultMap="useListResultMap">
        SELECT A.use_no as use_no,
        A.use_distance as use_distance,
        A.use_time as use_time,
        DATE_FORMAT(A.use_start_dt, '%Y-%m-%d %H:%i:%S') as use_start_dt,
        DATE_FORMAT(A.use_end_dt, '%Y-%m-%d %h:%i:%S %p') as use_end_dt,
        B.pay_datetime as pay_datetime,
        CASE B.paymethod_code WHEN 'C' THEN B.pay_cost ELSE 0 END as card_pay,
        CASE B.paymethod_code WHEN 'P' THEN B.pay_cost ELSE 0 END as point_pay,
        D.discount_ratio as pay_discount,
        GROUP_CONCAT(C.paymethod_code_name) AS pay_method  <!--문자열 조립 예시 : service에서 분리-->
        <!-- 콤마 조심 -->

        FROM sample_svc.t_svc_use A

        JOIN sample_svc.t_svc_use_pay B
        ON A.use_no = B.use_no

        LEFT JOIN sample_svc.t_svc_use_pay_method C
        ON B.svc_use_pay_no = C.svc_use_pay_no

        LEFT JOIN sample_svc.t_svc_use_pay_discount D
        ON A.use_no = D.use_no

        WHERE 1=1
        AND A.user_no = #{user_no}
        AND DATE(A.use_start_dt) >= #{start_dt}

        GROUP BY A.use_no
    </select>

    <select id="getAllUseList" resultMap="useListResultMap">
        SELECT A.use_no as use_no,
        A.use_distance as use_distance,
        A.use_time as use_time,
        DATE_FORMAT(A.use_start_dt, '%Y-%m-%d %H:%i:%S') as use_start_dt,
        DATE_FORMAT(A.use_end_dt, '%Y-%m-%d %h:%i:%S %p') as use_end_dt,
        B.pay_datetime as pay_datetime,
        CASE B.paymethod_code WHEN 'C' THEN B.pay_cost ELSE 0 END as card_pay,
        CASE B.paymethod_code WHEN 'P' THEN B.pay_cost ELSE 0 END as point_pay,
        D.discount_ratio as pay_discount,
        GROUP_CONCAT(C.paymethod_code_name) AS pay_method  <!--문자열 조립 예시 : service에서 분리-->
        <!-- 콤마 조심 -->

        FROM sample_svc.t_svc_use A

        JOIN sample_svc.t_svc_use_pay B
        ON A.use_no = B.use_no

        LEFT JOIN sample_svc.t_svc_use_pay_method C
        ON B.svc_use_pay_no = C.svc_use_pay_no

        LEFT JOIN sample_svc.t_svc_use_pay_discount D
        ON A.use_no = D.use_no

        GROUP BY A.use_no
    </select>

    <resultMap id="useListResultMap" type="com.example.mybatis.dto.UseListDto">
        <id property="use_no" column="use_no"/>
        <result property="use_distance" column="use_distance"/>
        <result property="use_time" column="use_time"/>
        <result property="use_start_dt" column="use_start_dt"/>
        <result property="use_end_dt" column="use_end_dt"/>
        <result property="pay_datetime" column="pay_datetime"/>
        <result property="card_pay" column="card_pay"/>
        <result property="point_pay" column="point_pay"/>
        <result property="pay_discount" column="pay_discount"/>
        <!-- collection들이 마지막에 와야함 -->
<!--        <collection property="pay_method" column="pay_method" ofType="java.lang.String" javaType="java.util.ArrayList">-->
<!--            <result property="pay_method" column="pay_method" javaType="String"/>-->
<!--        </collection>-->
        <collection property="pay_method" ofType="java.lang.String" javaType="java.util.ArrayList">
            <result property="pay_method" column="pay_method" javaType="String" jdbcType="VARCHAR"/>
        </collection>

    </resultMap>



</mapper>
