{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Allison&display=swap" rel="stylesheet">
  <!-- Custom CSS -->
  {% comment %} <link rel="stylesheet" href="{% static 'css/custom.css' %}"> {% endcomment %} 
  <!-- Navbar 공간 확보. 이거 하나 뿐이어서, custom css 사용 안함-->
  <style>
      body{
        padding-top : 80px;
      }
  </style>
  <title>Movie Article</title>
</head>
<body>

{% comment %} 임시 nav {% endcomment %}
  {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'community:index' %}">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'community:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'community:create' %}">Create</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> {% endcomment %}

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static './images/logo.png' %}" alt="logo" width="120" height="55">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <li><a href="{% url 'index' %}" class="nav-link active text-decoration-none mx-2 text-end">Home</a></li>
          </li>
          <li class="nav-item ms-md-auto">
            <li><a href="{% url 'community:index' %}" class="nav-link text-decoration-none mx-2 text-end">Community</a></li>
          </li>
          <li class="nav-item ms-md-auto">
            <li><a href="#" class="nav-link text-decoration-none mx-2 text-end" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a></li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Footer -->
  <footer class="d-flex fixed-bottom justify-content-center align-items-center">
    <p class="my-2 text-dark fw-bold">Django-bootsrtap PJT by 강민구</p>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#" class="d-flex flex-column">
            <div>
              <label for="username">Username</label><br>
              <input class="form-control mb-2" id="username" type="text">
            </div>
            
            <div>
              <label for="password">Password</label><br>
              <input class="form-control mb-3" id="username" type="password">  
            </div>
            <div>
              <input type="checkbox"> Check me out
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0">
  {% block content %}{% endblock content %}
  </div>
  
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>