{% extends 'base.html' %}
{% load static %}

{% block content %}

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static './images/header1.jpg' %}" class="d-block w-100" alt="header1">
        </div>
        <div class="carousel-item">
          <img src="{% static './images/header2.jpg' %}" class="d-block w-100" alt="header2">
        </div>
        <div class="carousel-item">
          <img src="{% static './images/header3.jpg' %}" class="d-block w-100" alt="header3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>

  <h1 class="text-center py-5 fw-bold">Boxoffice</h1>

  <article class="container">
    <div class="row mb-5 g-3">
      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="card">
          <img src="{% static './images/movie1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Movie Title</strong><br>This is a longer card with supporting text below as...</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="card">
          <img src="{% static './images/movie2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Movie Title</strong><br>This is a longer card with supporting text below as...</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="card">
          <img src="{% static './images/movie3.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Movie Title</strong><br>This is a longer card with supporting text below as...</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="card">
          <img src="{% static './images/movie4.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Movie Title</strong><br>This is a longer card with supporting text below as...</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="card">
          <img src="{% static './images/movie5.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Movie Title</strong><br>This is a longer card with supporting text below as...</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center">
        <div class="card">
          <img src="{% static './images/movie6.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><strong>Movie Title</strong><br>This is a longer card with supporting text below as...</p>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}